body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(200, 198, 198, 0.928);
  overflow-y: hidden;
}

.container {
  transform: scale(1.5);
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 200px;
  position: relative;
}

.display {
  padding: 0;
  height: 35px;
  width: 90%;
  position: absolute;
  top: 20px;
  background-color: white;
  color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container .buttons .button {
  padding: 10px;
  font-size: 18px;
  border: 1px solid white;
  height: 25px;
  width: 25px;
  position: relative;
  top: 15px;
  text-align: center;
}

.container .buttons :hover {
  transition: 0.2s ease-in;
  background-color: white;
  color: black;
}

.container .buttons ::selection{
  user-select: none;
}

#equal {
  background-color: orangered;
}

#green {
  color: orangered;
}


